# Виртуальное окружение
.venv/
venv/
env/
.env

# Файлы IDE
.idea/
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*.so
.Python

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Файлы базы данных
*.db
*.sqlite3

# Системные файлы
.DS_Store
Thumbs.db